p {
    font-family: verdana;
}

a.icon:hover {
    color: red;
    text-decoration: none;
}

a.icon:visited, a.icon:link, a.icon:active {
    color: black;
    text-decoration: none;
}

.nav-link {
    display: inline-block;
}

.fade2 {
	text-align: justify;
  background: -webkit-linear-gradient(#212529, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
